@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
}

main {
    padding: 16px;
}


nav {
    background-color: lightblue;
    border-bottom: 5px black;
    padding: 16px;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: chartreuse;
    text-decoration: none;
}

#recipes {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr;
}

img {
    height: 200px;
}

footer {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: lightblue;
    font-family: 'Roboto', sans-serif;
    color: rgb(3, 5, 0);

}

.list-zebra {
    display: grid;

}

tr:nth-child(even) {
    background-color: lightgray;
}

h1 {
    color: green;
}

h2 {
    color: blue;
}
